.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history {
  font-size: 2.75rem !important;
  line-height: 1.4;
  white-space: pre-line;
}

.button {
  font-size: 2rem;
}